.pics-module {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.manage-pics {
  position: relative;
  display: inline-block;
  /* margin: 0.5rem; */
  height: 17vh;
  flex-grow: 0;
}

.manage-pics:last-child {
  flex-grow: 40;
  min-width: 20px;
  opacity: 0;
  height: 0px;
}

.manage-pics img {
  max-height: 100%;
  /* min-width: 100%; */
  /* object-fit: cover; */
}

.manage-pics > img {
  min-width: 4rem;
  object-fit: cover;
}

.manage-pics .svg-ctrl {
  cursor: pointer;
  height: 2rem;
  position: absolute;
  opacity: 0.8;
  padding: 0.5rem;
}

.manage-pics .topleft {
  top: 0px;
  left: 0px;
}

.manage-pics .topright {
  top: 0px;
  right: 0px;
}

.manage-pics .bottomleft {
  bottom: 0px;
  left: 0px;
  /* transform: translateX(-50%); */
}

.regular-btn {
  margin: 1rem 0px;
  border-radius: 0.5rem;
}
